<h3>UPDATE match</h3>
<form (submit)="submitForm()" [formGroup]="matchForm">
  <div class="mt-3 mb-2">
    <label class="me-3" for="match-type">type</label>
    <input id="match-type" pInputText type="text" formControlName="type" />
  </div>
  <div class="mb-2">
    <label class="me-3" for="date_time">date_time</label>
    <input
      id="date_time"
      pInputText
      type="datetime-local"
      formControlName="date_time"
    />
  </div>
  <div class="mb-2">
    <label class="me-3" for="schedule">schedule</label>
    <p-dropdown
      placeholder="Select a schedule"
      [options]="(schedules$ | async) ?? []"
      [optionLabel]="'name'"
      [optionValue]="'id'"
      formControlName="schedule"
    />
  </div>
  <div class="mb-2">
    <label class="me-3" for="stadium">stadium</label>
    <input id="stadium" pInputText type="text" formControlName="stadium" />
  </div>
  <div class="mb-2">
    <label class="me-3" for="referee">referee</label>
    <p-dropdown
      placeholder="Select a referee"
      [options]="(referees$ | async) ?? []"
      [optionLabel]="'name'"
      [optionValue]="'id'"
      formControlName="referee"
    />
  </div>
  <div class="mb-2">
    <label class="me-3" for="homeTeam">homeTeam</label>
    <p-dropdown
      placeholder="Select a team"
      [options]="(teams$ | async) ?? []"
      [optionLabel]="'name'"
      [optionValue]="'id'"
      formControlName="homeTeam"
    />
  </div>
  <div class="mb-2">
    <label class="me-3" for="awayTeam">awayTeam</label>
    <p-dropdown
      placeholder="Select a team"
      [options]="(teams$ | async) ?? []"
      [optionLabel]="'name'"
      [optionValue]="'id'"
      formControlName="awayTeam"
    />
  </div>
  <!-- <div class="mb-2">
    <label class="me-3" for="timeSlots">timeSlots</label>
    <input
      id="timeSlots"
      pInputText
      type="datetime-local"
      formControlName="timeSlots"
    />
  </div> -->
  <button pButton type="submit">Submit</button>
</form>
